/* shared */
@import url('../Form/Form.css');
@import url('../WrapContainer/WrapContainer.css');

:root {
  --color-white: #fff;
  --color-black: black;
  --color-light-gray: #eeeeee;
  --color-secondary-gray: #a0a0a0;
  --color-gray-3: #e8e8e8;
  --color-gray-4: #f9f9f9;
  --color-gray-5: #ebebeb;
  --color-accent: #2be080;
  --color-warning: #ee3465;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.container {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin-left: 70px;
    margin-right: 70px;
  }
}
