.header {
  flex-shrink: 0;
}

.header__container {
  margin-left: 14px;
  margin-right: 14px;
  display: flex;
  align-items: center;
  height: 74px;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    margin: 0 auto;
    max-width: 1140px;
  }
}
